* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
button {
  cursor: pointer;
    padding: 5px;
    margin: 5px;    
}
.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid gray;
}
.logo-container img {
    width: 100px;
   
}
.res-logo{
    height: 120px;
}

.list-items {
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.list-items  > ul {
    list-style-type: none;
    display: flex;
}
.list-items > ul > li {
    margin: 0 10px;
}
.body {
    padding: 10px;
}

.res-card-container {
    display: flex;
    flex-wrap: wrap;
}
.res-card {
    padding: 5px;
    margin: 5px;
    width: 200px;
    background-color: beige;
     border-radius: 5px;
}
.res-logo {
    width: 100%;
}
.res-card:hover {
    border: 1px solid gray;
}
.footer {
     position: fixed;
     bottom: 0;
     padding: 5px;
     width: 100%;
     background-color: rgb(208, 240, 230);
}
.shimmer-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;

}
.shimmer-cards {
    height: 200px;
    width: 200px;
    padding: 5px;
    margin: 5px;
    background-color: #f0f0f0;
    border-radius: 5px;
}
.shimmer-search {
    width: 200px;
     margin: 5px;
    height: 30px;
     background-color: #f0f0f0;
}
.shimmer-top-rated {
    width:  100px;
     margin: 5px;
    height: 30px;
   
     background-color: #f0f0f0;
}

.login-btn {
    padding: 5px;
}
.filter{
    display: flex;
    margin: 5px;
}
.menu-container {
    width: 80%;
    padding: 20px;
}
.menu-item{
    display: flex;
    justify-content: space-between;
}
.res-card-container > a{
    text-decoration: none;
    color: black
}
.about-container {
     margin: 10px;
}
.user-card {
    border: 1px solid palevioletred;
    width: 90%;
    padding: 10px;
   
}